/*
 * Copyright (c) 2022 Espressif Systems (Shanghai) Co., Ltd.
 *
 * SPDX-License-Identifier: Apache-2.0
 */
/dts-v1/;

#include <espressif/esp32s3/esp32s3_wroom_n4r2.dtsi>
#include <zephyr/dt-bindings/pwm/pwm.h>
#include <zephyr/dt-bindings/adc/adc.h>
#include "neq_hvaciot_esp32s3-pinctrl.dtsi"

/ {
	model = "neq_hvaciot_esp32s3";
	compatible = "espressif,esp32s3";

	chosen {
		zephyr,sram = &sram0;
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,flash = &flash0;
	};

	aliases {
		i2c-0 = &i2c0;
		watchdog0 = &wdt0;
		uart-0 = &uart0;
		i2c-adc = &ads1015;
		pwm-user-led1 = &pwm_led_user1;
		pwm-user-led2 = &pwm_led_user2;
		pwm-user-led3 = &pwm_led_user3;
		pwm-user-led4 = &pwm_led_user4;
		mdm-power-switch = &mdm_power_switch;
		mux-a0-pin = &a0_pin;
		mux-a1-pin = &a1_pin;
		mux-a2-pin = &a2_pin;
		mux-a3-pin = &a3_pin;
		mux-en0-pin = &en0_pin;
		mux-en1-pin = &en1_pin;
		mux-en2-pin = &en2_pin;
		pg-5v0-pin = &pg_5v0;
		modem-uart = &uart1;
		modem = &gsm_modem;
	};

	pwmleds {
		compatible = "pwm-leds";
		pwm_led_user1: pwm_led_gpio0_7 {
			label = "PWM USER LED1";
			pwms = <&ledc0 0 1000 PWM_POLARITY_NORMAL>;
		};
		pwm_led_user2: pwm_led_gpio0_6 {
			label = "PWM USER LED2";
			pwms = <&ledc0 1 1000 PWM_POLARITY_NORMAL>;
		};
		pwm_led_user3: pwm_led_gpio0_5 {
			label = "PWM USER LED3";
			pwms = <&ledc0 2 1000 PWM_POLARITY_NORMAL>;
		};
		pwm_led_user4: pwm_led_gpio0_4 {
			label = "PWM USER LED4";
			pwms = <&ledc0 3 1000 PWM_POLARITY_NORMAL>;
		};
	};

	mdm_power_switch: mdm_power_switch {
		compatible = "power-switch";
		gpios = <&gpio0 21 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
	};

	mux {
		compatible = "gpios";
		a0_pin: a0_pin {
			gpios = <&gpio0 18 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
		};
		a1_pin: a1_pin {
			gpios = <&gpio0 17 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
		};
		a2_pin: a2_pin {
			gpios = <&gpio0 16 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
		};
		a3_pin: a3_pin {
			gpios = <&gpio0 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
		};
		en0_pin: en0_pin {
			gpios = <&gpio0 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
		};
		en1_pin: en1_pin {
			gpios = <&gpio0 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
		};
		en2_pin: en2_pin {
			gpios = <&gpio0 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
		};
	};

	5v0_ctrl {
		compatible = "gpios";
		pg_5v0: pg_5v0 {
			gpios = <&gpio1 8 GPIO_ACTIVE_HIGH>;
		};
	};
};

&cpu0 {
	clock-frequency = <ESP32_CLK_CPU_240M>;
};

&cpu1 {
	clock-frequency = <ESP32_CLK_CPU_240M>;
};

&usb_serial {
	status = "okay";
};

&uart0 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-names = "default";
};

&uart1 {
	status = "okay";
	current-speed = <115200>;
	hw-flow-control;
	pinctrl-0 = <&uart1_default>;
	pinctrl-names = "default";

	gsm_modem: gsm_modem {
		compatible = "quectel,bg95";
		mdm-power-gpios = <&gpio1 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
		// mdm-reset-gpios = <&gpio1 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
		status = "okay";
	};
};

&uart2 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart2_default>;
	pinctrl-names = "default";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&ledc0 {
	pinctrl-0 = <&ledc0_default>;
	pinctrl-names = "default";
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	channel0@0 {
		reg = <0x0>;
		timer = <0>;
	};
	channel1@1 {
		reg = <0x1>;
		timer = <0>;
	};
	channel2@2 {
		reg = <0x2>;
		timer = <0>;
	};
	channel3@3 {
		reg = <0x3>;
		timer = <0>;
	};
};

&i2c0 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	pinctrl-0 = <&i2c0_default>;
	pinctrl-names = "default";

	ads1015: ads1015@48 {
		// compatible = "ti,ads1015";
		compatible = "i2c-device";
		reg = <0x48>;
/*		#io-channel-cells = <1>;
		#address-cells = <1>;
		#size-cells = <0>;
		channel@0 {
			reg = <0>;
			zephyr,gain = "ADC_GAIN_1_3";
			zephyr,reference = "ADC_REF_INTERNAL";
			zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
			zephyr,resolution = <11>;
			zephyr,input-positive = <0>;
		};*/
	};
};

&timer0 {
	status = "disabled";
};

&timer1 {
	status = "disabled";
};

&timer2 {
	status = "disabled";
};

&timer3 {
	status = "disabled";
};

&wdt0 {
	status = "okay";
};

&trng0 {
	status = "okay";
};

/* 4 MB Flash */
&flash0 {
	status = "okay";
	reg = < 0x0 DT_SIZE_M(4) >;
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		/* Reserve 64kB for the bootloader */
		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 0x00010000>;
			read-only;
		};

		/* Reserve 1024kB for the application in slot 0 */
		slot0_partition: partition@10000 {
			label = "image-0";
			reg = <0x00010000 0x00100000>;
		};

		/* Reserve 1024kB for the application in slot 1 */
		slot1_partition: partition@110000 {
			label = "image-1";
			reg = <0x00110000 0x00100000>;
		};

		/* Reserve 256kB for the scratch partition */
		scratch_partition: partition@210000 {
			   label = "not-used";
			   reg = <0x00210000 0x00040000>;
		};

		/* Reserve 32kB for device certificates */
		certs_partition: partition@250000 {
			label = "certs";
			reg = <0x00250000 DT_SIZE_K(32)>;
		};

		/* Reserve 24kB for device settings */
		settings_partition: partition@258000 {
			label = "settings";
			reg = <0x00258000 DT_SIZE_K(24)>;
		};

		/* Reserve 24kB for generic storage */
		storage_partition: partition@25E000 {
			label = "storage";
			reg = <0x0025E000 DT_SIZE_K(24)>;
		};
	};
};
